<h2>Menú</h2>
<hr>
<ul class="list-group">
    <li class="list-group-item" routerLink="" [routerLinkActiveOptions]="{ exact: true }" routerLinkActive="active">
        <i class="bi bi-house-fill"></i> Inicio
    </li>
    <li class="list-group-item" routerLink="person" routerLinkActive="active">
        <i class="bi bi-person-bounding-box"></i> Personas
    </li>
    <li class="list-group-item" routerLink="user" routerLinkActive="active">
        <i class="bi bi-people-fill"></i> Usuarios
    </li>
</ul>